<body class="cb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Login</h1>
                        <h6>Login to your Inventory!!</h6>
                        <br>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formControlName="EmailAddress" type="email" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="Password" type="password" class="form-control"
                                id="exampleInputPassword1">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-light">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>