<div class="form-froup row">
    <br>
    <label class="col-sm-2 col-form-label">Inventory Name</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="InventoryName">
            <option>--Select--</option>
            <option *ngFor="let invName of InventoriesList">
                {{invName.InventoryName}}
            </option>
        </select>
    </div>
    <br>
    <br>
    <label class="col-sm-2 col-form-label">Quantity</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="QuantityOfOrder" placeholder="Enter Quantity">
    </div>
    <br>
    <br>
    <label class="col-sm-2 col-form-label">Customer Name </label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="CustomerName">
            <option>--Select--</option>
            <option *ngFor="let cusName of CustomersList">
                {{cusName.CustomerName}}
            </option>
        </select>
    </div>
</div>
<br>
<br>
<button (click)="addOrders()" *ngIf="ord.OrderId==0" class="btn btn-primary">
    Place Order
</button>